<div class="main-content">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-user">
                <div class="image">
                    <img src="./assets/img/bg/user_back.jpg" alt="...">
                </div>
                <div class="card-body">
                    <div class="author">
                        <img class="avatar border-gray" src="./assets/img/mike.jpg" alt="...">
                        <h5 class="title">{{User.name}} {{User.surname}}</h5>
                        <p class="description">
                            {{User.group}}
                        </p>
                    </div>
                    <p class="description text-center">
                        {{User.description}}
                    </p>
                </div>
                <div class="card-footer">
                    <hr>
                    <div class="button-container">
                        <div class="row">
                            <div class="col-lg col-md-2 col-2 ml-auto">
                                <h5>{{User.projects.length}}
                                    <br>
                                    <small>Проекты</small>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Проекты</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled team-members">
                        <li>
                            <div class="row">
                                <div class="col-md-2 col-2">
                                    <div class="avatar">
                                        <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image"
                                             class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-7 col-7">
                                    DJ Khaled
                                    <br/>
                                    <span class="text-muted">
                    <small>Offline</small>
                  </span>
                                </div>
                                <div class="col-md-3 col-3 text-right">
                                    <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                                            class="fa fa-envelope"></i></button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-2 col-2">
                                    <div class="avatar">
                                        <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image"
                                             class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-7 col-7">
                                    Creative Tim
                                    <br/>
                                    <span class="text-success">
                    <small>Available</small>
                  </span>
                                </div>
                                <div class="col-md-3 col-3 text-right">
                                    <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                                            class="fa fa-envelope"></i></button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-2 col-2">
                                    <div class="avatar">
                                        <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image"
                                             class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                                <div class="col-ms-7 col-7">
                                    Flume
                                    <br/>
                                    <span class="text-danger">
                    <small>Busy</small>
                  </span>
                                </div>
                                <div class="col-md-3 col-3 text-right">
                                    <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                                            class="fa fa-envelope"></i></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="card-header row">
                        <div class="col-md col-2">
                            <h5 class="title">Редактировать профиль</h5>
                        </div>
                        <div class="col-md col-2 pull-right">
                            <input type='submit' class='btn btn-next btn-fill btn-rose btn-wd pull-right'
                                   name='edit' value='Сохранить'/>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5 pr-1">
                                <div class="form-group">
                                    <label for="organization">Организация</label>
                                    <input id="organization" name="organization" type="text" class="form-control"
                                           disabled="" placeholder="Organization"
                                           value="IT108 Inc.">
                                </div>
                            </div>
                            <div class="col-md-7 pl-1">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input name="email" id="email" type="email" class="form-control" required
                                           placeholder="Email"
                                           formControlName="email"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label for="name">Имя</label>
                                    <input id="name" type="text" class="form-control" placeholder="Имя" name="name"
                                           formControlName="name">
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label for="surname">Last Name</label>
                                    <input type="text" class="form-control" placeholder="Фамилия"
                                           id="surname" name="surname"
                                           formControlName="surname">
                                </div>
                            </div>
                        </div>
                        <div *ngIf="User.group != 'Student'" class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="room">Кабинет</label>
                                    <input type="text" class="form-control" placeholder="Кабинет"
                                           id="room" name="room"
                                           formControlName="room">
                                </div>
                            </div>
                        </div>
                        <div *ngIf="User.group == 'Student'" class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label for="grade">Номер класса</label>
                                    <input type="text" class="form-control" placeholder="Класс" id="grade" name="grade"
                                           formControlName="grade">
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label for="gradeLiteral">Буква класса</label>
                                    <input type="text" class="form-control" placeholder="Буква"
                                           id="gradeLiteral" name="gradeLiteral"
                                           formControlName="gradeLiteral">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="description">Обо мне</label>
                                    <textarea id="description" rows="4" cols="80" name="description"
                                              formControlName="description"
                                              class="form-control textarea"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

